[Desktop Entry]
Name=Balis

X-KDE-PluginInfo-Author=Bali10050
X-KDE-PluginInfo-Email=serabali10050@gmail.com
X-KDE-PluginInfo-Name=Balis
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true